/*Custom Styles*/
html {
margin-right:25px;
margin-left:25px;

}

body{
    padding-top: 5em;
background-color: #eee;
margin:0 3em;
}
hr {
    border-top: 1px solid black;
}
.page-header {
	margin-top:10px;
	margin-bottom:5px;
}
.col-md-3 {
	padding-bottom:1em;
	margin-bottom:2em;
}
 
a:focus, a:hover {
	font-style:italic;
	font-weight:bold;	
	text-decoration:none;
	}
/*blockquote {
	background-color:#fff;
}
.col-md-12 {
	width:80%;
	margin-left:5em;
} */

.nav-tabs img{
	float:left;
	margin-left:2em;
	margin-bottom:.5em;
}
section h1,h2,h3{
	color:#386B96;
}
.col-md-3 img {
	padding-top:.5em;
}

article h1 {
	width:40%;
}
article img {
	float:left;
	margin-left:5em;
}
figure h1 {
	
	padding-bottom:.5em;
	
}
p {
	font: 14px Verdana, Geneva, sans-serif;
}
.well {
	border-left:4px solid black;
}

.table {
	width:50em;
	margin-left:5em;
	}

td:first-child {
	padding:2em 4em;
}
th, td {
	padding: .5em .7em;
}
/*form styles*/
.form-group {
	width:30%;
}


label {
    float: left;
    width: 10em;
    text-align:right;
	padding-right:.5em;
	padding-top:.5em;
}
input, select {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
	}
/*input:required, input[required] input:invalid {
	border: 2px solid #386B96;
}
input:valid {
	border: 1px solid black;
}
input:invalid {
	box-shadow: none;
}*/
br {
    clear: both;
}
#radio label {
	float: none;
	text-align:left;
	margin-left:3em;
	}	
#radio input {
	width: auto;	
	margin-top:.75em;
	margin-left:1.8em;
	
}
#exp_month {
	width: 7em;
}
#exp_year {
	width: 5em;
}
#buttons input {
	width: 10em;
}
#card_type,#card_number,#exp_month,#exp_year {
	margin-top:.5em;
}
 
#order_type {
	margin-top:.5em;
	margin-left:1.4em;
}
#tickets_number {
	width:30%;
	margin:1em 0 0 1.3em;;
}

fieldset.scheduler-border {
    border: 1px groove black !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
			width:60%;
			
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
		
		padding-top:15px;
    }

section img {
	margin-left:20em;
	margin-right:12.5em;
	}
	
	.text-muted {
		text-align: justify;
	}
	
	[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block; 
    fill: currentColor; 
}
/*close-form*/

